include ../components/head/head
include ../components/header/header
include ../components/filter-main/filter-main
include ../components/breadcrumb/breadcrumb
include ../components/side-menu/side-menu
include ../components/clinic-info/clinic-info
include ../components/clinic-banner/clinic-banner
include ../components/clinic-price/clinic-price
include ../components/clinic-line/clinic-line
include ../components/side-contacts/side-contacts
include ../components/footer/footer

doctype html
html(class="no-js", lang="ru")

	head
		+head(head.defaults)
	body.page.page-inner
		| %=symbols=%
		+header()
		+filter-main()
		div.container
			div.content.clearfix
				+breadcrumb('detail')
				div.content-block
					+clinic-info()
					+clinic-banner()
					+clinic-price()
				div.side-block
					div.side-block__inner
						+side-contacts()
					div.side-block__inner
						+side-menu(menu)
		+clinic-line()
		+footer(footer)

		script(src='%=static=%js/separate-js/svg4everybody.min.js')
		script svg4everybody();

		//- Main scripts. You can replace it, but I recommend you to leave it here
		script(src='%=static=%js/main%=hash=%%=min=%.js')