mixin metro(text)
	div.metro.clearfix
		ul.metro__list.clearfix
			li.metro__list-item
				div.metro__link.clearfix
					span.metro__logo
					span.metro__item Китай-город
			li.metro__list-item.hide
				div.metro__link.clearfix
					span.metro__logo.metro__logo_color_red
					span.metro__item Китай-город
			li.metro__list-item.hide
				div.metro__link.clearfix
					span.metro__logo.metro__logo_color_bordo
					span.metro__item Китай-город
			li.metro__list-item.hide
				div.metro__link.clearfix
					span.metro__logo.metro__logo_color_orange
					span.metro__item Китай-город
		a.metro__more=text
			span.metro__more-amount 4