mixin filter-main()
	div.filter-main
		div.container
			h2.filter-main__title Найдите лучший <br/>диагностический центр рядом с вами
			div.filter-main__search.filter.clearfix
				div.filter__box.filter__box_type_service.col-5
					div.filter__inner
						//select.filter__select.js-example-basic-single
							option МРТ Головного мозга
							option Флюрография
							option УЗИ
						//label(for="id_label_single") Click
							select.js-example-basic-single.js-states.form-control#id_label_single
								option МРТ Головного мозга
								option Флюрография
								option УЗИ
						label(for="id_label_multiple")
							select.js-example-basic-multiple.js-states.form-control#id_label_multiple(multiple="multiple")
								option МРТ Головного мозга
								option Флюрография
								option УЗИ
								option МРТ Головного мозга
								option Флюрография
								option УЗИ
								option МРТ Головного мозга
								option Флюрография
								option УЗИ
								option МРТ Головного мозга
								option Флюрография
								option УЗИ
								option МРТ Головного мозга
								option Флюрография
								option УЗИ
				div.filter__box.filter__box_type_location.col-5
					div.filter__inner
						select.filter__select
							option Выбрано 10 станций метро
							option Выбрано 10 станций метро
				div.filter__btn.col-2
					div.btn-action Найти клинику
			div.filter-main__edge.edge.clearfix
				div.edge__item.col-3
					div.edge__icon.icon-booking
					div.edge__text Бесплатная <br/> запись
				div.edge__item.col-3
					div.edge__icon.icon-diagnostic
					div.edge__text 264 диагностических <br/> центра
				div.edge__item.col-3
					div.edge__text Единый <br/> центр записи
					div.edge__icon.icon-center
				div.edge__item.col-3
					div.edge__text Лучшие <br/> специалисты
					div.edge__icon.icon-best