mixin filter-main(page)
	div.filter-main
		div.container
			if page === 'index'
				h2.filter-main__title Найдите лучший <br/>диагностический центр рядом с вами
			div.filter-main__search.filter.clearfix
				div.filter__box.filter__box_type_service.col-5
					div.filter__inner
						label(for="id_label_multiple")
							select(multiple="multiple")
								option МРТ Головного мозга
								option Флюрография
								option УЗИ
								option МРТ Головного мозга
								option Флюрография
								option УЗИ
								option МРТ Головного мозга
								option Флюрография
								option УЗИ
								option МРТ Головного мозга
								option Флюрография
								option УЗИ
								option МРТ Головного мозга
								option Флюрография
								option УЗИ
				div.filter__box.filter__box_type_location.col-5
					div.filter__inner
						span.filter__res 10
						span.filter__notice Выбрано
							span.filter__notice-value 10
							|станций метро
						select.filter__select
							option Китай-город
							option Библиотека им. Ленина
							option Полянка
							option Площадь революции
							option Аннино
							option Китай-город
							option Митино
							option Динамо
							option Китай-город
				div.filter__btn.col-2
					button.btn-action Найти клинику
			if page === 'index'
				div.filter-main__edge.edge.clearfix
					div.edge__item.col-3
						div.edge__icon.icon-booking
						div.edge__text Бесплатная <br/> запись
					div.edge__item.col-3
						div.edge__icon.icon-diagnostic
						div.edge__text 264 диагностических <br/> центра
					div.edge__item.col-3
						div.edge__text Единый <br/> центр записи
						div.edge__icon.icon-center
					div.edge__item.col-3
						div.edge__text Лучшие <br/> специалисты
						div.edge__icon.icon-best