mixin cart-clinic()
	div.cart-clinic
		div.cart-clinic__body.clearfix
			div.cart-clinic__side
				div.cart-clinic__logo
					img.clinic__img(src="%=static=%img/assets/cart-clinic/cart-logo.png" alt="")
				div.cart-clinic__phone +7 (499) 705-30-40
				div.cart-clinic__action
					div.btn-action.btn-action_type_green Записаться
			div.cart-clinic__main
				div.cart-block
					a(href="detail.html").cart-block__head Медецинский центр
						span.uppercase ПАТЕРО КЛИНИК
					div.cart-block__tools.tools.clearfix
						button.tools__item(type="button", data-container="body", data-toggle="popover", data-placement="right", data-content="Ночью во многих клиниках москвы можно сделать процедуры гораздо дешевле за счет малого количества записей")
							div.tools__pic
								img.tools__img(src="%=static=%img/assets/cart-clinic/contrast.png" alt="")
							div.tools__desc C контрастом
						button.tools__item(type="button", data-container="body", data-toggle="popover", data-placement="right", data-content="Ночью во многих клиниках москвы можно сделать процедуры гораздо дешевле за счет малого количества записей")
							div.tools__pic
								img.tools__img(src="%=static=%img/assets/cart-clinic/night.png" alt="")
							div.tools__desc Акции ночью
						button.tools__item(type="button", data-container="body", data-toggle="popover", data-placement="right", data-content="Ночью во многих клиниках москвы можно сделать процедуры гораздо дешевле за счет малого количества записей")
							div.tools__pic
								img.tools__img(src="%=static=%img/assets/cart-clinic/open.png" alt="")
							div.tools__desc Открытый
						button.tools__item(type="button", data-container="body", data-toggle="popover", data-placement="left", data-content="Ночью во многих клиниках москвы можно сделать процедуры гораздо дешевле за счет малого количества записей")
							div.tools__pic
								img.tools__img(src="%=static=%img/assets/cart-clinic/usb.png" alt="")
							div.tools__desc Запись на USB
						button.tools__item(type="button", data-container="body", data-toggle="popover", data-placement="left", data-content="Ночью во многих клиниках москвы можно сделать процедуры гораздо дешевле за счет малого количества записей")
							div.tools__pic
								img.tools__img(src="%=static=%img/assets/cart-clinic/cd.png" alt="")
							div.tools__desc Запись на CD

					div.cart-block__list.service-block
						ul.service-block__list.toggle-list
							li.service-block__item.clearfix
								div.service-block__name Электрокардиография (ЭКГ)
									span.service-block__mark с контрастом
								div.service-block__price 3400 Руб.
							li.service-block__item.clearfix
								div.service-block__name Холтеровское (суточное) мониторирование ЭКГ
									span.service-block__mark с контрастом
								div.service-block__price 3400 Руб.
							li.service-block__item.clearfix
								div.service-block__name Суточное мониторирование артериального давления
									span.service-block__mark с контрастом
								div.service-block__price 3400 Руб.
							li.service-block__item.clearfix
								div.service-block__name Холтеровское (суточное) мониторирование ЭКГ
									span.service-block__mark с контрастом
								div.service-block__price 3400 Руб.
							li.service-block__item.clearfix
								div.service-block__name Суточное мониторирование артериального давления
									span.service-block__mark с контрастом
								div.service-block__price 3400 Руб.
						a.service-block__all.main-link Смотреть весь список услуг

		div.cart-clinic__bottom.clearfix
			div.cart-clinic__metro.col-6
				div.metro.clearfix
					ul.metro__list.clearfix
						li.metro__list-item
							a.metro__link.clearfix
								span.metro__logo
								span.metro__item Китай-город
						li.metro__list-item.hide
							a.metro__link.clearfix
								span.metro__logo
								span.metro__item Китай-город
						li.metro__list-item.hide
							a.metro__link.clearfix
								span.metro__logo
								span.metro__item Китай-город
						li.metro__list-item.hide
							a.metro__link.clearfix
								span.metro__logo
								span.metro__item Китай-город
					a.metro__more Еще станции
						span.metro__more-amount 4
			div.cart-clinic__address.col-6
				a.cart-address.main-link г. Москва, Котельническая набережная д.32, к3