mixin side-block(data)
	div.side-block
		div.side-block__inner
			ul.side-block__list
				each item in data
					li.side-block__item
						a.side-block__link.arrow-left(role="button", data-toggle="collapse", href='#'+"#{item.id}")=item.name
						ul.side-block__sub-list.collapse(id="#{item.id}")
							each val in item.sub
								li.side-block__sub-item
									a.side-block__sub-link=val