include ../info-box/info-box

mixin clinic-line()
	div.clinic-line
		div.container
			div.clinic-line__head Лучшие клиники Москвы и
				div.main-link Московской области
			div.clinic-line__list.clearfix
				div.clinic-line__item
					+info-box()
				div.clinic-line__item
					+info-box()
				div.clinic-line__item
					+info-box()
				div.clinic-line__item
					+info-box()