mixin filter-result()
	div.filter-result.clearfix
		div.filter-result__search.clearfix
			div.filter-result__find.col-3 Найдено:
				div.filter-result__clinics 34
					| клиники
			div.filter-result__sort.col-9.clearfix
				div.filter-result__sort-inner
					div.filter-result__sort-text Стоимость по:
					div.filter-result__sort-btns
						div.filter-result__btn.filter-result__btn_type_up.active Возрастанию
						div.filter-result__btn.filter-result__btn_type_down Убыванию
		div.filter-result__price Минимальная стоимость:
			div.filter-result__sum 2490
				| руб