mixin medical(data)
	div.medical
		div.container.clearfix
			each item in data
				div.medical__item
					div.medical-block
						div.medical-block__top.clearfix
							div.medical-block__img(class="#{item.class}")
							div.medical-block__text
								div.medical-block__desc=item.desc
								div.medical-block__name=item.name
						ul.medical-block__list.medical-block__list_hide
							each val in item.items
								li.medical-block__item
									a.medical-block__link(href="statica.html")=val
						a.medical-block__watch.main-link Смотреть  все