mixin clinic-info()
	div.clinic-info.clearfix
		div.clinic-info__record.block-record
			div.block-record__logo
				img(src="%=static=%img/assets/clinic-info/logo-cli.png" alt="")
			div.block-record__text Запишитесь по телефону
			div.block-record__phone +7 (499) 705-30-40
			div.block-record__notice или онлайн
			div.block-record__action
				div.btn-action.btn-action_type_green Записаться в клинику
		div.clinic-info__desc.clinic-desc
			div.clinic-desc__head Медецинский центр
				div.uppercase ПАТЕРО КЛИНИК
			p.clinic-desc__text.toggle-list Медицинский центр АвроМед - это многопрофильное лечебно-диагностическое учреждение Москвы. Находиться АвроМед по адресу: улица Толбухина, дом 13, корпус 3, что в нескольких минутах ходьбы от станций метро Кунцевская, Молодежная и Словянский Бульвар. Пациенты медицинского центра АвроМед могут воспользоваться такими услугами, как: проведение всех видов медицинских анализов;диагностика и лечение по таким направлениям, как: аллергология, андрология, анестезиология, реаниматология, гастроэнтерология, гинекология и гинекологическая хирургия, дерматология, иммунология, кардиология, косметология, маммология, неврология, онкология, оториноларингология, офтальмология, пластическая хирургия, проктология, ревматология, стоматология, терапия, травматология, ортопедия, урология, флебология, хирургия и диетология; проведение УЗИ, ЭЭГ, ЭхоКГ. Преимуществами медицинского центра АвроМед является многопрофильность предоставляемых услуг, возможность для пациентов записываться на прием к специалистам на официальном сайте клиники, или по телефону, а также доступные цены на диагностику и лечение, и наличие различных скидок и акций. Гарантии медицинского центра АвроМед: специалисты центра являются кандидатами и докторами медицинских наук, а также врачами высшей квалификационной категории.
			a.clinic-desc__link.main-link Читать полностью
			div.clinic-desc__schedule.table
				div.table-row
					div.clinic-desc__schedule-item.table-cell Понедельник - Пятница
					div.clinic-desc__schedule-item.table-cell c 09:00 до 22:00
				div.table-row
					div.clinic-desc__schedule-item.table-cell Суббота
					div.clinic-desc__schedule-item.table-cell c 09:00 до 22:00
				div.table-row
					div.clinic-desc__schedule-item.table-cell Воскресенье
					div.clinic-desc__schedule-item.table-cell Выходной