mixin call-back()
	div.callback
		div.callback__head По вопросам сотрудничества
		div.callback__contact.clearfix
			div.callback__phone +7 (499) 705-30-40
			div.callback__mail service@testpuls.ru
		div.callback__form
			form.call-back-form.clearfix
				div.call-back-form__wrap.col-6
					input.call-back-form__input(type="text",placeholder="Ваше имя")
				div.call-back-form__wrap.col-6
					input.call-back-form__input(type="tel")
				div.call-back-form__wrap.col-12
					textarea.call-back-form__textarea(placeholder="Ваш комментарий")
				div.call-back-form__btn
					input.call-back-form__send.btn-action.btn-action_type_green(type = "submit",value = "Отправить")