mixin breadcrumb()
	div.breadcrumb
		ul.breadcrumb__list.clearfix
			li.breadcrumb__item
				a.breadcrumb__link(href="") Главная
			li.breadcrumb__item
				a.breadcrumb__link.breadcrumb__link_active(href="") МРТ шейного отдела