// Common styles of the project
@import "_grid";

html, body {
    height: 100%;
}

*,
*:before,
*:after{
	box-sizing: border-box;
}

::selection{
	background: #ddd;
}
img{
	max-width: 100%;
	height:auto;
}

.page {
	background: #fff;
	font-family: @RobotoRegular;
	font-size: 14px;
	color: @color-font;
	min-width: 1100px;
}
.page-inner{
	background: @color-page;
}
.t-center{
	text-align: center;
}
.t-left{
	text-align: left;
}
.hide{
	display: none;
}
.show{
	display: block;
}
.uppercase{
	text-transform: uppercase;
	display: inline-block;
	margin-left: 6px;
}
.right{
	float: right;
}
.table{
	display: table;
}
.table-row{
	display: table-row;
}
.table-cell{
	display: table-cell;
}
h1,h2,h3,h4{
	margin:0;
	font-weight: normal;
}
ul{
	list-style: none;
	padding: 0;
	margin:0;
}
p{
	margin:0;
}
a{
	text-decoration: none;
	color: @color-font;

	&:visited,
	&:hover,
	&:focus,
	&:active{
		text-decoration: none;
	}
}
.main-link{
	color: @color-main;
	border-bottom: 1px dashed @color-main;
	cursor: pointer;
	transition:all 0.4s;
	display: inline-block;

	&:hover{
		border-bottom: 1px solid @color-main;
		text-decoration: none;
	}
}
.content{
	margin: 0 -12px;
	padding-bottom: 62px;

	&__header{
		font-size: 24px;
		margin: -7px 10px 10px 26px;
		padding-bottom:10px;

		&_type{
			&_filter{
				border-bottom:2px solid #d0d8e2;
			}
		}
	}

}

.btn-action{
	background-image: linear-gradient(to bottom, @color-add, @color-add-2);
	background: @color-add;
	height: 50px;
	border-radius: 3px;
	text-align: center;
	font-size:16px;
	font-family: @RobotoMedium;
	line-height: 50px;
	cursor: pointer;
	color: #fff;
	padding: 0 15px;
	transition:all 0.4s;
	border:none;
	width:100%;

	&:hover{
		background: @color-add-2;
	}

	&_type{
		&_review{
			font-size:14px;
			height:45px;
			line-height: 45px;
			float: left;
			padding: 0 22px;
			border: none;
		}

		&_green{
			background:#8ed119;
			height:45px;
			line-height:45px;
			width:100%;
		}
	}

}

.btn-add{
	border-radius: 3px;
	background-color: #fff;
	border: solid 1px #8ed119;
	color: #222;
	font-family:@RobotoMedium;
	width: 192px;
	height: 45px;
	line-height:43px;
	text-align: center;
	cursor: pointer;
	box-shadow: 0 0 4px 0 rgba(142, 209, 24, 0.36);
	transition:all 0.4s;

	&:hover{
		color: #fff;
		background: #8ed119;
	}
}