mixin side-filter()
	div.side-filter__item.side-filter__item_type_radio
		div.side-filter__title Дополнительные услуги
	div.side-filter__item.side-filter__item_type_radio
		div.side-filter__title Запись на носители
	div.side-filter__item.side-filter__item_type_select
		div.side-filter__title Тип аппарата
	div.side-filter__item.side-filter__item_type_select
		div.side-filter__title Мощность аппарата
	div.side-filter__item.side-filter__item_type_slider
		div.side-filter__title Время записи