mixin clinic-price()
	div.clinic-price
		div.clinic-price__head Прайс лист на остальные услуги МРТ (магнитно-резонансная томография)
		div.clinic-price__table
			div.price-table.table
				div.price-table__item.table-row
					div.price-table__name.table-cell МРТ шейного отдела
					div.price-table__night.table-cell 130 руб.
					div.price-table__day.table-cell 230 руб.
				div.price-table__item.table-row
					div.price-table__name.table-cell МРТ шейного отдела
					div.price-table__night.table-cell 130 руб.
					div.price-table__day.table-cell 230 руб.
				div.price-table__item.table-row
					div.price-table__name.table-cell МРТ шейного отдела
					div.price-table__night.table-cell 130 руб.
					div.price-table__day.table-cell 230 руб.